:host{
  display: flex;
  justify-items: center;

  ion-content
  {
    width: 400px;
    display: flex;
    align-items: center;
    height: 50% !important;

    ion-item
    {
      margin-bottom: 15px;

      ion-label {
        color: #7d7d7d;

        &.color-white
        {
          color :white;
        }

      }

    }


  }

}
